In [4]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [5]:
url='https://gist.githubusercontent.com/ryanorsinger/19bc7eccd6279661bd13307026628ace/raw/e4b5d6787015a4782f96cad6d1d62a8bdbac54c7/lemonade.csv'
df = pd.read_csv(url)
df

         Date        Day  Temperature  Rainfall  Flyers  Price  Sales
0      1/1/17     Sunday         27.0      2.00      15    0.5     10
1      1/2/17     Monday         28.9      1.33      15    0.5     13
2      1/3/17    Tuesday         34.5      1.33      27    0.5     15
3      1/4/17  Wednesday         44.1      1.05      28    0.5     17
4      1/5/17   Thursday         42.4      1.00      33    0.5     18
..        ...        ...          ...       ...     ...    ...    ...
360  12/27/17  Wednesday         42.7      1.00      33    0.5     19
361  12/28/17   Thursday         37.8      1.25      32    0.5     16
362  12/29/17     Friday         39.5      1.25      17    0.5     15
363  12/30/17   Saturday         30.9      1.43      22    0.5     13
364  12/31/17     Sunday         15.1      2.50       9    0.5      7

[365 rows x 7 columns]

In [6]:
def get_lower_and_upper_bounds(col, mult=1.5):
    q1 = col.quantile(0.25)
    q3 = col.quantile(0.75)
    iqr = q3 - q1
    lower_bound = q1 - mult * iqr
    upper_bound = q3 + mult * iqr
    return lower_bound,upper_bound

In [8]:
lower_bound,upper_bound=get_lower_and_upper_bounds(df,mult=1.5)

In [11]:
lower_bound

Temperature    16.70
Rainfall        0.26
Flyers          4.00
Price           0.50
Sales           5.00
dtype: float64

In [10]:
upper_bound

Temperature    104.7
Rainfall         1.3
Flyers          76.0
Price            0.5
Sales           45.0
dtype: float64

In [12]:
lower_bound,upper_bound=get_lower_and_upper_bounds(df,mult=3)

In [13]:
lower_bound

Temperature   -16.30
Rainfall       -0.13
Flyers        -23.00
Price           0.50
Sales         -10.00
dtype: float64

In [14]:
upper_bound

Temperature    137.70
Rainfall         1.69
Flyers         103.00
Price            0.50
Sales           60.00
dtype: float64

In [18]:
filt_outliers_df_oman = df.apply(lambda x: x[(x < df[x.name].mean()-2*df[x.name].std()) & 
                                             (x > df[x.name].mean()+2*df[x.name].std())], axis=0)

/var/folders/3k/kd9rcxws7ygft2krzxncw_400000gn/T/ipykernel_7798/995292491.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  filt_outliers_df_oman = df.apply(lambda x: x[(x < df.mean()-2*df.std()) &

ValueError: Can only compare identically-labeled Series objects